
    <div id='navbar' class=' navbar '>
        <ul class="nav col-lg-12 text-center ">
    
            <li class="nav-item col-lg-2 ">
                <a routerLink='/home' class="btn btn-outline-info  "> Home</a>
            </li>
            <li class=" input-group  col-lg-5">
                <input class="form-control  mt-2 " type="search" placeholder="search" id="searchId">
                <span class="input-group-append mt-2 ">
                  <button class="btn btn-success " type="button">
                      <i class="fa fa-search"></i>
                  </button>
                </span>
            </li>
            <li class="nav-item col-lg-3">
                <a routerLink='/register' class="btn btn-outline-danger btn-lg  " >Sign Up</a>
            </li>
            <li class="nav-item col-lg-2">
                <a routerLink='/login' class="btn btn-outline-warning   " >Sign In</a>
            </li>
    
    
        </ul>
    </div>
    
<router-outlet>

</router-outlet>

