<div class=" text-center ">
    <div class="card m-b-30 ">
        <div class="card-header bg-white ">
            <h5 class="card-title text-black mb-0 ">My Profile</h5>
        </div>
        <div class="card-body ">
            <div class="xp-social-profile ">
                <div class="xp-social-profile-top ">
                    <div class="row ">
                        <div class="col-3 ">
                            <div class="xp-social-profile-star py-3 ">
                                <i class="mdi mdi-star font-24 "></i>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <!-- https://bootdey.com/img/Content/avatar/avatar7.png    ../../../assets/2.jpg-->
                            <div class="xp-social-profile-avatar text-center ">
                                <img src="../../../assets/2.jpg" alt="user-profile " class="rounded-circle img-fluid ">
                                <span class="xp-social-profile-live ">  </span>
                            </div>
                        </div>
                        <div class="col-3 ">
                            <div class="xp-social-profile-menu text-right py-3 ">
                                <i class="mdi mdi-dots-horizontal font-24 "></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="xp-social-profile-middle text-center ">
                    <div class="row ">
                        <div class="col-12 ">
                            <div class="xp-social-profile-title ">
                                <h5 class="my-1 text-black ">{{user.username}}(username)</h5>
                            </div>
                            <!-- <div class="xp-social-profile-subtitle ">
                                <p class="mb-3 text-muted ">Karina Simons</p>
                            </div> -->
                            <div class="xp-social-profile-desc ">
                                <p class="text-muted ">Lifestyle coach and photographer <br>delivering best images only...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="xp-social-profile-bottom text-center ">
                    <div class="row ">
                        <div class="col-4 ">
                            <div class="xp-social-profile-media pt-3 ">
                                <h5 class="text-black my-1 ">{{user.posts.length}}</h5>
                                <p class="mb-0 text-muted" style=" font-size: 1em;color: Mediumslateblue;"> <i class="fa fa-clipboard" aria-hidden="true" style=" font-size: 1em;color: Mediumslateblue;"></i> <a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Posts</a></p>
                            </div>
                        </div>
                        <div class="col-4 ">
                            <div class="xp-social-profile-followers pt-3 ">
                                <h5 class="text-black my-1 ">{{user.followers.length}}</h5>

                                <p class="mb-0 text-muted " style="font-size: 1em; color: Tomato;"> <i class="fa fa-heart" aria-hidden="true" style="font-size: 1em; color: Tomato;"></i> Followers</p>

                            </div>
                        </div>
                        <div class="col-4 ">
                            <div class="xp-social-profile-following pt-3 ">
                                <h5 class="text-black my-1 ">{{user.following.length}}</h5>
                                <p class="mb-0 text-muted " style="font-size: 1em; color: Dodgerblue;"> <i class="fa fa-thumbs-up" aria-hidden="true" style="font-size: 1em; color: Dodgerblue;"></i> Followings</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>