<section class="container col-lg-6 col-md-12 col-sm-11 col-10 mb-3">
  <div id="login"
    class="container text-center font-weight-bolder fa-3x rounded p-1 mt-5  col-lg-12 col-md-8 col-sm-8 col-12 ">
    <p class="text-truncate">Registration Form</p>
  </div>

  <div id="bg" class="container container-fluid mt-4 rounded  col-lg-12 col-md-8 col-sm-8 col-12 text-truncate ">
    <form class=" m-1 ">
    
      <div class="col-12">
        <label for="userName" class=" mt-2 ">User Name</label>
        <input id="userId" class="form-control text-truncate form-text" placeholder="User Name " required>
      </div>

      <div class="col-12   ">
        <label for="txtFirstName">FirstName</label>
        <input id="fnId" class="form-control form-text  text-truncate " placeholder="First Name" required>
      </div>

      <div class="col-12">
        <label  for="password" class=" mt-2 ">Password</label>
        <input  id="password"  type='password' class="form-control form-password text-truncate "  placeholder="******"  required>
      </div>

      <div id="buttonsContainer " class="col-12 d-flex  ">
        <div class=" col-3 col-md-8 col-lg-4   text-left ">
          <button type="submit" class="btn  mt-4 mb-2 font-weight-bold ">Sign
            in</button>
        </div>
        <div class="col-3  col-md-4 mr-4 col-lg-4  text-right ">
          <button type="button" class="btn  mt-4 font-weight-bold">Log
            in</button>
        </div>
      </div>

    </form>
  </div>

</section>