<div class="container col-lg-12 col-md-8 col-sm-6 col-3 flex-wrap ">
</div>
<div id="Cont" class="container col-12 mt-5 ">
  <div class="container-fluid col-6">
    <form class="  col-lg-6 col-12">
      <div class="mb-3">
        <label for="email" class=" fa fa-2x d-lg-block d-md-block d-sm-block ">Email address</label>
        <input type="email" class="form-control d-lg-block d-md-block d-sm-block " id="email" required>

      </div>

      <div class="mb-3">
        <p for="password" class="  fa fa-2x d-lg-block d-md-block d-sm-block ">Password</p>
        <input type="password" class="form-control d-lg-block d-md-block d-sm-block " id="password" required>
      </div>



      <div class="justify-content-center   d-flex ">
        <button id="btnSubmit" type="submit" class="btn d-lg-block  d-md-block d-sm-block "
         >Submit</button>
        <button id="btnRegister" type="submit" class="btn  offset-9  flex-wrap d-md-block  d-none"
         >Register</button>
      </div>

    </form>

  </div>
</div>

