<nav class="navbar navbar-expand navbar-dark bg-dark sticky-top">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand " href="#">
        <h3>Blo<span class="orange_color">Gs</span></h3>
    </a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a routerLink="/home" class="nav-link">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
            <a routerLink="/register" class="btn btn-outline-danger my-2 my-sm-0 ml-1" *ngIf="!logged"> Reigster</a>
            <a routerLink="/login" class="btn btn-outline-primary my-2 my-sm-0 ml-1" (click)="login()" *ngIf="!logged"> Login</a>
            <a routerLink="/home" class="btn btn-outline-primary my-2 my-sm-0 ml-1" (click)="logout()" *ngIf="logged"> LogOut</a>
        </form>

    </div>
</nav>