#body,#postBody,#dataBody,#jumb{
    background-image: url("4.jpg");
}
#dataBody{
    width: 100%;
}
#getImg{
    background-image: url("holmz2.jpg");

}
p{
    color: #222831;
    display: inline;
}
#likebtn,#commentbtn,#editbtn,#deletbtn{
    outline: #eeeeee;
    color: #16697a;
    font-weight: bold;

}

#parent{
background-color: #ffd369;
}
#card{
    background-color: #eeeeee;
}
#navbar{
    background-color: black;
}
#godfather{
    width: inherit;
}


