<!-- Nav tabs -->
<div id='father ' class="container-fluid col-lg-10 text-center justify-content-between ">
    <ul class="nav nav-tabs   bg-danger " id="navId">
        <li class="nav-item ">
            <a href="#" class="nav-link text-white ">Home</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-white ">Add Post</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-white ">About</a>
        </li>
    </ul>


    <div class="jumbotron jumbotron-fluid font-weight-bold rounded bg-dark text-white">
        <div class="container">
            <h1 class="display-3">Welcome Guest</h1>
            <p class="lead text-white-50 bg-danger rounded">Check for New Activity </p>     
        </div >
    </div >

    <!--       break  -->
    
    <div class='justify-content-between d-flex flex-fill'>
        <div class='col-lg-2' ></div>
        <div class='col-lg-8'>
          <table class="table  ">
              <thead class="thead-dark">
                  <tr>
                      <th colspan="3" scope='row' class="text-left ">User Name</th>
                      
                  </tr>
              </thead>
              <tbody>
                <tr class="justify-content-between   " >
                    <td scope="row" class='text-center text-tranquete' colspan="3"> DDataDataDataDataDataDa
                        taaDataDataDataDataDataDataDataData
                    </td>
                </tr>
                  <tr>
                      <td scope="row"></td>
                      <td><button class='btn'>Delete</button></td>
                      <td><button class='btn'>Edit</button> </td>
                  </tr>
                  
              </tbody>
          </table>  

        </div>
        <div class='col-lg-2' ></div>

    </div>
    
</div>

