
<div class="container-fluid">



<div id='jumb' class="jumbotron text-truncate ">
    <p class="display-3 text-warning text-truncate">Welcome,Everybody</p>
    <hr class="my-4">
    <p class='display-4 text-white text-truncate'>Ziad , Rania and Edrees Say Hello </p>
    <p class="lead ">
        <a class="btn btn-outline-info btn-lg mr-2 " href="#">Create a Blog </a>
        <a class="btn btn-outline-warning btn-lg mr-2 " href="#">Sign Up</a>
        <a class="btn btn-outline-danger btn-lg mr-2 " href="#">Sign In</a>

    </p>
  
</div>

<section id='parent' class="container-fluid bg-warning">


    <div id='body' class="container p-lg ">
        <section id='postBody' class="card flex d-inline-flex offset-2 col-7 p-lg text-truncate">
            <div class="card mt-5 bg-warning text-truncate ">
                <div>
                    <a href="#" class="btn btn-outline-warning text-white btn-lg offset-10 text-truncate">Follow</a>
                </div>
                <div>
                    <img id='cardImg' class="card-img-top " src="./holmz2.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title d-5 ">blog title</h5>
                    <p class="card-text display-4 text-truncate ">
                        Shine bright like a diamond
                    </p>
                </div>
                <div>
                    <a href="#" class="btn btn-outline-warning btn-lg text-info">like</a>
                </div>

            </div>

        </section>

    </div>
</section>
</div>