<section id='parent' class="container-fluid ">


    <!-- <div id='jumb' class="jumbotron text-truncate mt-2 ">
        <p class="display-3 text-warning text-truncate">Welcome,Everybody</p>
        <hr class="my-4">
        <p class='display-4 text-white text-wrap'>Ziad , Rania and Edrees Say Hello </p>
        <hr class="my-4">
        <p class="lead text-wrap ">
            <a class="btn btn-outline-info btn-lg mr-2 " (click)='createpost();'>Create a Blog </a>

        </p>

    </div> -->

    <!-- <div id='body' class="container p-lg ">

        <section id='postBody' class="card flex d-inline-flex offset-2 col-8 p-lg text-truncate">
            <div id='card' class="card mt-5 text-truncate " *ngFor="let blog of blogs">
                <div class='m-1'>
                    <a id="editbtn" class="btn   text-truncate" (click)='editPost(blog);'>Edit</a>
                    <a id="deletbtn" class="btn   offset-1 text-truncate" (click)='removePost(blog);'>Remove</a>

                </div>
                <div>
                    <img id='cardImg' class="card-img-top " src="./blog1.png" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-danger d-5 ">blog title created Date : {{blog.createTime}}</h5>
                    <p class="card-text display-5  ">
                        {{blog.body}}
                    </p>
                </div>
                <div class='container'>
                    <a id='likebtn' class="btn  col-6 btn-lg ml-1" (click)='likePost();'>like</a>
                    <a id='commentbtn' class="btn  col-6 btn-lg  " (click)='Addcomment();'>comment</a>

                </div>

            </div>

        </section>

    </div>
</section> -->

    <header class="bg-primary text-white">
        <div class="container text-center">
            <h1>Welcome to <span>Blo<span class="orange_color">Gs</span></span>
            </h1>
            <h2 class="lead">A landing page template freshly redesigned for Bootstrap 4</h2>
            <div class="mt-5">
                <a routerLink="/createblog" *ngIf="dashlogged" class="btn btn-warning btn-lg"> Create Blog</a>
                <!-- routerLink routerLinkActive -->
            </div>
        </div>
    </header>

    <div class=" layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-12 ">
                    <div class="heading  ">
                        <h3>Blo<span class="orange_color">Gs</span></h3>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-6">
                    <img id='cardImg' src="../../../assets/blog1.png" alt="Card image cap" />
                </div>
                <div class="col-6">
                    <div class="full blog_cont">
                        <h4>The biggest and most awesome camera of year</h4>
                        <h5>MAY 14 2019 5 READ</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    </div>
                </div>
            </div>
            <div class="row mb-3" *ngFor="let blog of blogs">
                <div class="row">
                    <div class="col-6">
                        <img id='cardImg' src="{{blog.img}}" alt="Card image cap" />
                    </div>
                    <div class="col-6">
                        <div class="full blog_cont">
                            <a routerLink="/post/details/{{blog._id}}">
                                <h4>{{blog.title}}</h4>
                            </a>
                            <p>{{blog.body}}</p>
                        </div>
                    </div>

                </div>
                <div class=" row col-12 ">
                    <div class="col-6 ">
                        <div class="xp-social-profile-following pt-3 ">

                            <p class="mb-0 text-muted " style="font-size: 1em; color: Dodgerblue; "> <i class="fa fa-thumbs-up " aria-hidden="true " style="font-size: 1em; color: Dodgerblue; "></i> Like</p>
                        </div>
                    </div>
                    <div class="col-6 ">
                        <div class="xp-social-profile-following pt-3 ">

                            <p class="mb-0 text-muted " style="font-size: 1em; color: Dodgerblue; "> <i class="fa fa-comment " aria-hidden="true " style="font-size: 1em; color: Dodgerblue; "></i> Comment</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>