<!-- <h1>
    my posts</h1>

<div class="row mb-3" *ngFor="let blog of blogs">
    <div class="row">
        <div class="col-6">
            <img id='cardImg' src="{{blog.img}}" alt="Card image cap" />
        </div>
        <div class="col-6">
            <div class="full blog_cont">
                <a routerLink="/post/details/">
                    <h4>{{blog.title}}</h4>
                </a>
                <p class="lead text-break text-justify ">{{blog.body}}</p>
            </div>
        </div>

    </div>
    <div class=" row col-12 ">
        <div class="col-6 ">
            <div class="xp-social-profile-following pt-3 ">

                <p class="mb-0 text-muted" style=" font-size: 1em;color: Mediumslateblue;"> <i class="fa fa-clipboard" aria-hidden="true" style=" font-size: 1em;color: Mediumslateblue;"></i> <a routerLink="/posts/edit/{{blog._id}}" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Posts</a></p>
            </div>
        </div>
        <div class="col-6 ">
            <div class="xp-social-profile-following pt-3 ">

                <p class="mb-0 text-muted" style=" font-size: 1em;color: Mediumslateblue;"> <i class="fa fa-clipboard" aria-hidden="true" style=" font-size: 1em;color: Mediumslateblue;"></i> <a class="continue link-scroll btn btn-danger" (click)="id=blog._id;deleteById()"><i class="fa fa-long-arrow-down" ></i> Posts</a></p>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="text-center border border-white rounded pt-2 mt-3" *ngFor="let blog of blogs">
        <div class=" text-center pt-2 m-3">

            <img id='cardImg' class="rounded" src="{{blog.img}}" alt="Card image cap" />
        </div>
        <div class="col-6">
            <div class="full blog_conttext-center border border-white rounded pt-2 mt-3 ">
                <a routerLink="/post/details/">
                    <h4 class=" text-center pt-2 mt-3">{{blog.title}}</h4>
                </a>
                <p class="lead text-break text-justify  ">{{blog.body}}</p>
            </div>
        </div>

        <div class=" row col-12 ">
            <div class="col-6 ">
                <div class="xp-social-profile-following pt-3 ">

                    <p class="mb-3 text-muted" style=" font-size: 1em;"> <a routerLink="/posts/edit/{{blog._id}}" class="continue link-scroll btn btn-info"><i class="fa fa-pencil"></i> Edit</a></p>
                </div>
            </div>
            <div class="col-6 ">
                <div class="xp-social-profile-following pt-3 ">

                    <p class="mb-3 text-muted" style=" font-size: 1em;"> <a class="continue link-scroll btn btn-danger" (click)="id=blog._id;deleteById()"><i class="fa fa-trash" ></i> Delete</a></p>
                </div>
            </div>
        </div>
    </div>
</div>