<h1>
    my posts</h1>

<div class="row mb-3" *ngFor="let blog of blogs">
    <div class="row">
        <div class="col-6">
            <img id='cardImg' src="{{blog.img}}" alt="Card image cap" />
        </div>
        <div class="col-6">
            <div class="full blog_cont">
                <a routerLink="/post/details/">
                    <h4>{{blog.title}}</h4>
                </a>
                <p class="lead text-break text-justify ">{{blog.body}}</p>
            </div>
        </div>

    </div>
    <div class=" row col-12 ">
        <div class="col-6 ">
            <div class="xp-social-profile-following pt-3 ">

                <p class="mb-0 text-muted" style=" font-size: 1em;"> <a routerLink="/posts/edit/{{blog._id}}" class="continue link-scroll btn btn-info"><i class="fa fa-pencil"></i> Edit</a></p>
            </div>
        </div>
        <div class="col-6 ">
            <div class="xp-social-profile-following pt-3 ">

                <p class="mb-0 text-muted" style=" font-size: 1em;"> <a class="continue link-scroll btn btn-danger" (click)="id=blog._id;deleteById()"><i class="fa fa-trash-o" ></i> Delete</a></p>
            </div>
        </div>
    </div>
</div>
