<p>post-edit works!</p>

<legend>Edit Blog</legend>

<div class="wrap-input1 validate-input" data-validate="title is required">
                <input class="input1" [(ngModel)]="blog.title" type="text" name="title" placeholder="Title" [ngModelOptions]="{standalone:true}">
                <span class="shadow-input1"></span>
            </div>
 <div class="wrap-input1 validate-input" data-validate="Message is required">
                <textarea class="input1" [(ngModel)]="blog.body" name="Body" placeholder="Body" [ngModelOptions]="{standalone:true}"></textarea>
                <span class="shadow-input1"></span>
            </div>

<div class="custom-file mb-4 rounded">
                <input type="file" (change)="onfileselected($event)" class="custom-file-input" id="customFile" name="blogImg">
                <label class="custom-file-label" name="blogImg" for="customFile">Blog Image</label>
            </div>



<button class="btn btn-primary" (click)="save()">Submit</button>