
<div class="container shadow p-5 mt-5">
    <legend class="text-center mb-5 mt-3 text-monospace">Edit Blog</legend>

            <div class="wrap-input1 validate-input " data-validate="title is required">
                <input class="input1" [(ngModel)]="blog.title" type="text" name="title" placeholder="Title" [ngModelOptions]="{standalone:true}">
                <span class="shadow-input1"></span>
            </div>
            <div class="wrap-input1 validate-input " data-validate="Message is required">
                <textarea class="input1" [(ngModel)]="blog.body" name="Body" placeholder="Body" [ngModelOptions]="{standalone:true}"></textarea>
                <span class="shadow-input1"></span>
            </div>
            <div class="container text-center shadow">

                <a class="btn btn-outline-success btn-lg  m-3" (click)="save()">Submit</a>
            </div>

</div>
